.list-group-item {
  line-height: 2.5;
}

body {
background: url("../images/burgerbackground.jpg");
background-size: cover;
}

.col-md-6, .col-md-5 {
  background-color:rgba(255,250,250,0.9);
  margin-top: 40px;
  color: black;
  text-shadow: -.5px 0 grey, 0 .5px grey, .5px 0 grey, 0 -.5px grey;
  padding-bottom: 20px;
  float: left;
  overflow:scroll;
  height: 600px;



}

.sub-heading{
  border-bottom: 5px dashed black;

}

.foodSection {
  float: left;
}

img{
  width: 60px;
  height: 60px;
  padding-top: 10px;
}

.logo{
  width: 800px;
  height: 200px;
}
